<%= form_with(model:pr, local: true) do |f| %>

<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, step: :any %>
  </div>

  <div class="field">
    <%= f.label :Category %>
    <%= f.select(:category_id,  options_for_select(@cts_array), prompt: "Selecciona categoria")  %>
  </div>

<%= submit_tag("Create") %>
<% end %>
