<h1>Ctegories</h1>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Identificator</th>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cts.each do |ct| %>
      <tr>
        <td><%= ct.iden %></td>
        <td><%= ct.code %></td>
        <td><%= ct.name %></td>
        <td><%= link_to 'Edit', categories_edit_path(ct)%></td>
        <td><%= link_to 'Destroy',categories_delete_path(ct), method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'add new category', categories_new_path%>
